.pattern {
    background-image: url("../img/pattern.png");
    background-color: dodgerblue;
    height: 100px;
}

.logo {
    width: 200px;
    margin-top: 50px;
    margin-left: 10px;
}

h1 {
    font-size: 48px;
}

.info-news {
    color: gray;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

.date {
    font-size: 13px;
}

.info-img {
    font-size: 13px;
}

ul {
    padding: 15px;
}

thead {
    background-color: dodgerblue;
}

.color {
    background-color: lightblue;
}

.footer-title{
    color: gray;
}

.footer-img {
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 200px;
}

.footer-img1 {
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 200px;
}

h4 {
    font-size: 20px;
    color: white;
    padding: 10px;
}